<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>AVSEC - KLAL</title>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container"><h1>AVSEC - KLAL</h1></div>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select a week
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">1</a>
        <a class="dropdown-item" href="#">2</a>
        <a class="dropdown-item" href="#">3</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Summary</a>
      </div>
    </div>
    <div class="mx-auto" style="width: 200px;">
      &nbsp
    </div>

    
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link"  href="http://dev-dsk-davsuar-2b-a59798a1.us-west-2.amazon.com:8000/assesment.html">Assessment tracker</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://dev-dsk-davsuar-2b-a59798a1.us-west-2.amazon.com:8000/tickets.html">Tickets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://dev-dsk-davsuar-2b-a59798a1.us-west-2.amazon.com:8000/dthree.html">D3</a>        
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://dev-dsk-davsuar-2b-a59798a1.us-west-2.amazon.com:8000/education.html">Education</a>        
      </li>
      
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://dev-dsk-davsuar-2b-a59798a1.us-west-2.amazon.com:8000/credentialing.html">Credentialing</a>        
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://dev-dsk-davsuar-2b-a59798a1.us-west-2.amazon.com:8000/gemba.html">Gemba</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://dev-dsk-davsuar-2b-a59798a1.us-west-2.amazon.com:8000/ddd.html">DDD</a>
      </li>
    </ul>

    <div class="p-1 mb-4 bg-body-tertiary rounded-1">
        <div class="container-fluid py-5">
                   
          
          <p class="h4"><a href="https://app.asana.com/">Projects</a></p>
          <table class="table">
          <tbody>
          <div class="table-responsive-sm">
            <table class="table">             
              <thead>
                <tr class="table-success">
                  <th scope="col">Shift</th>
                  <th scope="col">Owner</th>
                  <th scope="col">Status</th>
                  <th scope="col">Due Date</th>
                  <th scope="col">Categoy</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">FHD</th>
                  <td >
                    <div class="btn-group">
                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        select evaluator
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Jorge Galeano</a>
                        <a class="dropdown-item" href="#">Trent Thomas</a>
                        <a class="dropdown-item" href="#">Raizavette Salas</a>                  
                        </div>
                    </div>
                  </td>
                  <td contenteditable='true'></td>
                  <td contenteditable='true'></td>
                  <td contenteditable='true'></td>
                  <td contenteditable='true'></td>
                </tr>
                <tr>
                 <th scope="row">FHN</th>
                  <td >
                    <div class="btn-group">
                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        select evaluator
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Jorge Galeano</a>
                        <a class="dropdown-item" href="#">Trent Thomas</a>
                        <a class="dropdown-item" href="#">Raizavette Salas</a>                  
                        </div>
                    </div>
                  </td>
                  <td contenteditable='true'></td>
                  <td contenteditable='true'></td>
                  <td contenteditable='true'></td>
                  <td contenteditable='true'></td>
                </tr>
                <tr>
                  <th scope="row">BHD</th>
                  <td >
                    <div class="btn-group">
                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        select evaluator
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Jorge Galeano</a>
                        <a class="dropdown-item" href="#">Trent Thomas</a>
                        <a class="dropdown-item" href="#">Raizavette Salas</a>                  
                        </div>
                    </div>
                  </td>
                  <td contenteditable='true'></td>
                  <td contenteditable='true'></td>
                  <td contenteditable='true'></td>
                  <td contenteditable='true'></td>
                </tr>
                <tr>
                  <th scope="row">BHN</th>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        select evaluator
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Jorge Galeano</a>
                        <a class="dropdown-item" href="#">Trent Thomas</a>
                        <a class="dropdown-item" href="#">Raizavette Salas</a>                  
                        </div>
                    </div>
                  </td>
                  <td contenteditable='true'></td>
                  <td contenteditable='true'></td>
                  <td contenteditable='true'></td>
                  <td contenteditable='true'></td>
                </tr>
                <tr>
                  <th scope="row">Credentialing</th>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        select evaluator
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Jorge Galeano</a>
                        <a class="dropdown-item" href="#">Trent Thomas</a>
                        <a class="dropdown-item" href="#">Raizavette Salas</a>                  
                        </div>
                    </div>
                  </td>
                  <td contenteditable='true'></td>
                  <td contenteditable='true'></td>
                  <td contenteditable='true'></td>
                  <td contenteditable='true'></td>
                </tr>                
              </tbody>
            </table>
          </div>     
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
